[submodule "vendor"]
	path = vendor
	url = git://github.com/mozilla/playdoh-lib.git
[submodule "vendor-local/src/django-tastypie"]
	path = vendor-local/src/django-tastypie
	url = git://github.com/toastdriven/django-tastypie.git
[submodule "vendor-local/src/icalendar"]
	path = vendor-local/src/icalendar
	url = git@github.com:collective/icalendar.git
[submodule "vendor-local/src/django-recurrence"]
	path = vendor-local/src/django-recurrence
	url = git://github.com/django-recurrence/django-recurrence
