{% set page_title = 'Mozilla Events' %}
<!DOCTYPE html>
<html LANG="{{ LANG }}" dir="{{ DIR }}">
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ page_title }}</title>

    <link rel="stylesheet" href="//mozorg.cdn.mozilla.net/media/css/tabzilla-min.css" />
    <link rel="shortcut icon" href="//mozorg.cdn.mozilla.net/media/img/favicon.ico">

    {% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ settings.STATIC_URL }}css/main.css">
    <link href='https://api.tiles.mapbox.com/mapbox.js/v1.6.3/mapbox.css' rel='stylesheet' />
    {% endblock %}

    {{ browserid_css() }}
  </head>
  <body data-mobile-cookie="{{ settings.MOBILE_COOKIE }}" class="{{ body_class }}">
    {{ browserid_info() }}

    {% block page %}
    {% endblock %}

    <!-- common to all pages -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
    <script src="//mozorg.cdn.mozilla.net/tabzilla/tabzilla.js"></script>
    {{ browserid_js() }}

    {% block scripts %}
      <script src="{{ settings.STATIC_URL }}js/app.js"></script>
    {% endblock %}
  </body>
</html>