{% extends 'index.html' %}

{% block page %}
  <div id="outer-wrapper">

    <div id="inner-wrapper">

      <header class="masthead click-through">
        <div class="width-container">
          <!-- Universal Mozilla tab -->
          <a href="https://www.mozilla.org/" id="tabzilla">mozilla</a>

          <!-- Sign In & Sign Out -->
          <div id="login-box">
            {% if user.is_authenticated() %}
              {{ browserid_logout(text='Sign out') }}
            {% endif %}
          </div>
        </div>
      </header>

      <div class="logo-nav width-container click-through">
        <h1 class="logo"><a href="/"><span class="metabold">mozilla</span> events</a></h1>
      </div>

      {% block pageheader %}{% endblock %}

      {% block content %}
      <div class="billboard width-container login-message">
        {% if user.is_authenticated() %}
        <p>You are already logged in. {{ browserid_logout(text='Sign out') }}</p>
        {% else %}
        <p>Please {{ browserid_login(text='sign in', link_class='browserid-login') }} to continue</p>
        {% endif %}
      </div>
      {% endblock %}

    </div>

    {% include "footer.html" %}

  </div>
{% endblock %}

{% block scripts %}
{% endblock %}