<div class="billboard" id="js-calendar">
  <nav class="cal-nav row js-cal-nav">
    <a href="#" class="previous-month column col-3 js-prev" data-year="2014" data-month="6">&laquo; <span>June 2014</span></a>
    <div class="current-month column col-6 js-title">{{ month_manager.name }} {{ month_manager.year }}</div>
    <a href="#" class="next-month column col-3 js-next" data-year="2014" data-month="8"><span>August 2014</span> &raquo;</a>
  </nav>
  <div class="calendar-wrapper js-wrapper">
    <div class="month-wrapper js-content">
      <table class="fill-width row cal">
        {% for week in month_manager.matrix %}
        <tr>
          {% for day in week %}
          <td>
            {% if day != 0 %}
            <div class="cell-content">
              <div class="day"><a href="#">{{ day }}</a></div>
              <div class="content">
                {% set today_events = month_manager.get_events_for_day(day) %}
                {% set class="" %}
                {% if today_events|length >= 6 %}{% set class=" class=grid" %}{% endif %}
                <ul{{class}}>
                {% for event in today_events %}
                  <li class="event-box js-event"><a href="{{ url('event_one', id=event.id, slug=event.slug) }}">{{ event.title }}</a></li>
                {% endfor %}
                </ul>
              </div>
            </div>
            {% endif %}
          </td>
          {% endfor %}
        </tr>
        {% endfor %}
      </table>
    </div>
  </div>
</div>