<nav class="cal-nav row js-cal-nav">
  <a href="#" class="previous-month column col-3 js-prev" data-year="{{ month_manager.year_of_previous_month }}" data-month="{{ month_manager.previous_month }}">&laquo; <span>{{ month_manager.previous_month_name }} {{ month_manager.year_of_previous_month }}</span></a>
  <div class="current-month column col-6 js-title" data-year="{{ month_manager.year }}" data-month="{{ month_manager.month }}">{{ month_manager.name }} {{ month_manager.year }}</div>
  <a href="#" class="next-month column col-3 js-next" data-year="{{ month_manager.year_of_next_month }}" data-month="{{ month_manager.next_month }}"><span>{{ month_manager.next_month_name }} {{ month_manager.year_of_next_month }}</span> &raquo;</a>
  <table class="weekdays fill-width row">
    <tr class="weekdays">
        <td>Mon</td>
        <td>Tue</td>
        <td>Wed</td>
        <td>Thu</td>
        <td>Fri</td>
        <td>Sat</td>
        <td>Sun</td>
    </tr>
  </table>
</nav>
<div class="calendar-wrapper js-wrapper">
  <div class="month-wrapper js-content">
    <table class="fill-width row cal">
      {% for week in month_manager.matrix %}
      <tr>
        {% for day in week %}
        <td>
          {% if day != 0 %}
          <div class="cell-wrapper js-cell">
            {% set today_instances = month_manager.get_instances_for_day(day) %}
            <div class="cell-content{% if today_events|length == 0%} empty{% endif %}">
              <div class="day">
                <a href="#" class="js-day" data-date="{{ month_manager.format_date_for_day(day) }}">{{ day }}</a>
              </div>
              <div class="content">
                {% set class="" %}
                {% if today_instances|length >= 6 %}{% set class=" class=grid" %}{% endif %}
                <ul{{ class }}>
                {% for instance in today_instances %}
                {% set event = instance.event %}
                  <li class="event-box js-event">
                    <a href="{{ url('events_event_single', id=event.id, start=instance.start_str, slug=event.slug) }}" class="js-event-link">{{ event.title }}</a>
                  </li>
                {% endfor %}
                </ul>
              </div>
            </div>
          </div>
          {% endif %}
        </td>
        {% endfor %}
      </tr>
      {% endfor %}
    </table>
  </div>
</div>