<div>
  <h4>Description</h4>
  <div class="event-description">
    {% if event.description %}
      {{ event.description }}
    {% else %}
      <p class="light">No description available.</p>
    {% endif %}
  </div>

  <h4>Details</h4>
  <div class="event-details">
    {% if event.is_multiday %}
    <p>Event starts at <em>{{ event.start_time }}</em> (local time) on <em>{{ event.start_date_pretty }}</em> and ends at <em>{{ event.end_time }}</em> (local time) on <em>{{ event.end_date_pretty }}</em>.</p>
    {% else %}
    <p>Event starts from <em>{{ event.start_time }}</em> to <em>{{ event.end_time }}</em> (local time).</p>
    {% endif %}
    {% if event.details %}
      {{ event.details|markdown }}
    {% endif %}
  </div>
</div>