{% if list_events|length == 0 %}
  <li class="billboard no-events-found">No events found</li>
{% endif %}
{% for event in list_events %}
  <li class="event row" data-space="{{ event.space.slug }}">
    <div class="event-date column col-2">
      <div class="day">{{ event.start_day }}</div>
      <div class="monthyear">
        <div class="month">{{ event.start_month }}</div>
        <div class="year">{{ event.start.year }}</div>
      </div>
    </div>
    <div class="event-info column col-8">
      {% set event_url = url('event_one', id=event.id, slug=event.slug) %}
      <a class="event-name" href="{{ event_url }}">{{ event.title }}</a>
      <div class="event-description">
        {% if event.description %}
        <p>{{ event.description }}</p>
        {% else %}
        <p class="light">No description available</p>
        {% endif %}
      </div>
    </div>
    <div class="event-meta column col-2">
      <div class="event-space">{{ event.space }}</div>
      <div class="event-areas count-{{ event.areas.all().count() }}">
        {% for area in event.areas.all() %}
        <div class="event-area {{ area.color }}">{{ area.name }}</div>
        {% endfor %}
      </div>
    </div>
  </li>
{% endfor %}