{% if list_instances|length == 0 %}
  <li class="billboard no-events-found">No events found</li>
{% endif %}
{% for instance in list_instances %}
  {% set event = instance.event %}
  <li class="event row js-event" data-space="{{ event.space.slug }}" data-id="{{ event.id }}">
    <div class="event-date column col-2">
      <div class="day">{{ instance.start_day }}</div>
      <div class="monthyear">
        <div class="month">{{ instance.start_month }}</div>
        <div class="year">{{ instance.start.year }}</div>
      </div>
    </div>
    <div class="event-info column col-8">
      <a class="event-name js-event-link" href="{{ instance.url }}">{{ event.title }}</a>
      <div class="event-description">
        {% if event.description %}
        <p>{{ event.description }}</p>
        {% else %}
        <p class="light">No description available</p>
        {% endif %}
      </div>
    </div>
    <div class="event-meta column col-2">
      <div class="event-space">{{ event.space }}</div>
      <div class="event-areas count-{{ event.areas.all().count() }}">
        {% for area in event.areas.all() %}
        <div class="event-area {{ area.color }}">{{ area.name }}</div>
        {% endfor %}
      </div>
    </div>
  </li>
{% endfor %}