{% extends "index.html" %}

{% set body_class = 'screen' %}

{% block page %}
  <div id="outer-wrapper" class="screen">

    <div id="inner-wrapper">

      <header class="masthead click-through">
        <div class="width-container">
          <!-- Universal Mozilla tab -->
          <a href="https://www.mozilla.org/" id="tabzilla">mozilla</a>
        </div>
      </header>

      <div class="logo-nav width-container click-through">
        <h1 class="logo"><a href="/"><span class="metabold">mozilla</span> events</a></h1>
      </div>

      <div id="map" class="js-fullscreen" data-space="{{ list_events[0].space.slug }}"></div>

      {% block content %}
        <div class="width-container screen-content js-screen-content">
          <div class="upcoming-events">
            <ul class="event-list">
              {% include "list_content.html" %}
            </ul>
          </div>

          <div class="event-info-container">
          {% for event in list_events %}
            <div class="event-content row js-event-info" data-id="{{ event.id }}">
              <header class="event-header billboard js-event-header">
                  <div class="column col-6">
                    <h2 class="oslight">{{ event.title }}</h2>
                  </div>
              </header>

              <div class="billboard row">
                {% include "event-info.html" %}
              </div>
            </div>
          {% endfor %}
          </div>

        </div>
      {% endblock %}

    </div>

  </div>
{% endblock %}

{% block scripts %}
  <script src="/static/js/screen.js" type="text/javascript"></script>
{% endblock %}