<!DOCTYPE html>
<html LANG="{{ LANG }}" dir="{{ DIR }}">
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
    <title>{% block page_title %}Mozilla Events{% endblock %}</title>

    {% block site_css %}
      {% compress css %}

      {% endcompress %}
    {% endblock %}

    {{ browserid_css() }}
  </head>
  <body data-mobile-cookie="{{ settings.MOBILE_COOKIE }}">

    {{ browserid_info() }}

    <!-- Sign In & Sign Out -->
    <div class="large-10 small-10 columns" id="login-box">
      <div class="account anonymous nomenu logout">
        {% if not user.is_authenticated() %}
          <span id="login-menu-locator">
            {{ browserid_login(text='Sign in') }}
          </span>
          or
          <a href="#">Join</a>
        {% else %}
          <div class="show-for-small">
            {{ browserid_logout(text='Sign out') }}
          </div>
        {% endif %}
      </div>
    </div>

    {% block pageheader %}{% endblock %}

    {% block content %}{% endblock %}

    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
    {{ browserid_js() }}
  </body>
</html>
