<!DOCTYPE html>
<html LANG="{{ LANG }}" dir="{{ DIR }}">
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
    <title>{% block page_title %}Mozilla Events{% endblock %}</title>

    {% block site_css %}
      {% compress css %}

      {% endcompress %}
    {% endblock %}

    {{ browserid_css() }}
  </head>
  <body data-mobile-cookie="{{ settings.MOBILE_COOKIE }}">

    {{ browserid_info() }}

    <!-- Sign In & Sign Out -->
    <div class="large-10 small-10 columns" id="login-box">
      <div class="account anonymous nomenu logout">
        {% if not user.is_authenticated() %}
          <span id="login-menu-locator">
            {{ browserid_login(text='Sign in') }}
          </span>
          or
          <a href="#" data-reveal-id="join-modal">Join</a>
        {% else %}
          <div class="hide-for-small" id="logout-menu-locator">
            {% if user_is_rep(user) %}
              <a id="base-displayname" href="{{ url('profiles_view_my_profile') }}">
                {{ user.get_full_name()|default('user.userprofile.display_name') }}
              </a>
            {% else %}
              {{ user.get_full_name()|default('user.userprofile.display_name') }}
            {% endif %}
            [{{ browserid_logout(text='Sign out') }}]
          </div>
          <div class="show-for-small">
            {% if user_is_rep(user) %}
              <a id="base-displayname" href="{{ url('profiles_view_my_profile') }}">
                {{ user.get_full_name()|default('user.userprofile.display_name') }}
              </a>
            {% else %}
              {{ user.get_full_name()|default('user.userprofile.display_name') }}
            {% endif %}
            <div>
              {{ browserid_logout(text='Sign out') }}
            </div>
          </div>
        {% endif %}
      </div>
    </div>

    {% block pageheader %}{% endblock %}

    {% block content %}{% endblock %}

    <div id="footer">
      {# These links will add/remove cookies. See JavaScript. #}
      <a class="desktop-link" href="">{{ _('View Desktop Site') }}</a>
      &nbsp;|&nbsp;
      <a class="mobile-link" href="">{{ _('View Mobile Site') }}</a>
    </div>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
    {{ browserid_js() }}
  </body>
</html>
