{% extends 'index.html' %}

{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="{{ settings.STATIC_URL }}css/admin.css">
{% endblock %}

{% block page %}
  <div id="outer-wrapper">

    <div id="inner-wrapper">

      {% include "includes/masthead.html" %}

      <div class="logo-nav width-container">
        <h1 class="logo"><span class="metabold">mozilla</span> events</h1>
      </div>

      <div class="width-container">
        {% block pageheader %}
        <div class="page-header">
          <h2 class="oslight">Administration</h2>
        </div>
        {% endblock %}

        <nav class="main-tabs">
          <ul>
            <li class="tab{% if active_tab == 'events' %} active{% endif %}"><a href="/admin/events">Events</a></li>
            <li class="tab{% if active_tab == 'spaces' %} active{% endif %}"><a href="/admin/spaces">Spaces</a></li>
            <li class="tab{% if active_tab == 'areas' %} active{% endif %}"><a href="/admin/areas">Areas</a></li>
          </ul>
        </nav>

        <div class="billboard">
          <div class="column col-12">
            {% block content %}

            <div class="row">
              <div class="main-actions">
              {% block actions %}
              {% endblock %}
              </div>
            </div>

            <div class="row">
              <table class="admin-table fill-width">
              {% block tablecontent %}

              {% endblock %}
              </table>
            </div>

            {% endblock %}
          </div>
        </div>
      </div>

    </div>

  </div>
{% endblock %}

{% block scripts %}
  <!-- insert admin-related scripts here -->
{% endblock %}