{% extends 'admin.html' %}

{% block content %}

<h1>Edit {{ area.name }}</h1>

<form method="post">
  {{ csrf() }}
  {{ form.errors }}
  <ul>
    <li>
      <label>Title</label>
      <input name="name" value="{{ area.name }}" size="40">
    </li>
    <li>
      <label>Slug</label>
      <input name="slug" value="{{ area.slug }}" size="40">
    </li>
    <li>
      <label>Color:</label>
      <input name="color" value="{{ area.color }}"></input>
    </li>
  </ul>
  <input type="submit" value="Save area">
</form>

{% endblock %}