<h1>Edit {{ event.title }} ({{ event.id }})</h1>

<form action="/admin/events/{{ event.id }}/edit" method="post">
  {{ csrf() }}
  {{ form.errors }}
  <ul>
    <li>id: {{ event.id }}</li>
    <li>
      <label>Title</label>
      <input name="title" value="{{ event.title }}" size="40">
    </li>
    <li>
      <label for="start_date">Start Date</label>
      <input name="start" type="text" id="start_date" value="{{ event.start }}">

      <label for="end_date">End Date</label>
      <input name="end" type="text" id="end_date" value="{{ event.end }}">
    </li>
    <li>
      <label for="start_time">Start Time</label>
      <input type="text" id="start_time" value="{{ event.start }}">

      <label for="end_time">End Time</label>
      <input type="text" id="end_time" value="{{ event.end }}">
    </li>
    <li>
     Areas {{ form.areas }}
    </li>
    <li>
      <label>{{ form.space.label }}</label>: {{ form.space }}
    </li>
    <li>
      <label>Description:</label>
      <textarea name="description">{{ event.description }}</textarea>
    </li>
    <li>
      <label>Details:</label>
      <textarea name="details">{{ event.details }}</textarea>
    </li>
  </ul>
  <input type="submit" value="Save event">
</form>