<h1>Admin: events</h1>

<div>
  <a href="?format=csv">Export CSV</a>
  <a href="{{ url('events_new_event') }}">New event</a>
</div>

<table>
  <thead>
    <tr>
      <th>Event name</th>
      <th>Space</th>
      <th>Date</th>
      <th>Area</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    {% for event in events %}
    <tr>
      <td>{{ event.title }}</td>
      <td>{{ event.space }}</td>
      <td>{{ event.start }} - {{ event.end }}</td>
      <td>{{ event.areas.all() }}</td>
      <td>
        <a href="{{ url('event_edit', slug=event.slug) }}">e</a>
        <a href="{{ url('event_dedupe', slug=event.slug) }}">d</a>

        <form action="{{ url('event_delete') }}" method="post">
          {{ csrf() }}
          <input type="hidden" name="id" value="{{ event.id }}">
          <input type="submit" value="x">
        </form>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>