<h1>Edit {{ event.title }} ({{ event.id }})</h1>

<form method="post">
  {{ csrf() }}
  {{ form.errors }}
  <ul>
    <li>
      <label>Title</label>
      <input name="title" value="{{ event.title }}" size="40">
    </li>
    <li>
      <label>{{ form.space.label }}</label>: {{ form.space }}
    </li>
    <li>
      <label for="date_start">Start</label>
      {{ form.start }}
    </li>
    <li>
      <label for="time_start">End</label>
      {{ form.end }}
    </li>
    <li>
     Areas {{ form.areas }}
    </li>
    <li>
      <label>Description:</label>
      <textarea name="description">{{ event.description }}</textarea>
    </li>
    <li>
      <label>Details:</label>
      <textarea name="details">{{ event.details }}</textarea>
    </li>
  </ul>
  <input type="submit" value="Save event">
</form>