{% from 'macros/order_by.html' import order_by %}

{% extends 'admin.html' %}

{% set active_tab = 'events' %}

{% block actions %}
  <a class="button" href="?format=csv">Export CSV</a>
  <a class="button" href="{{ url('events_new_event') }}">New event</a>
{% endblock %}

{% block tablecontent %}
  <thead>
    <tr>
      <th>Event name {{ order_by('title') }}</th>
      <th>Space {{ order_by('space__name') }}</th>
      <th>Date {{ order_by('start') }}</th>
      <th>Area</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    {% for event in events %}
    <tr>
      <td><a href="#linkToEventPage?">{{ event.title }}</a></td>
      <td>{{ event.space }}</td>
      <td>{{ event.start_date }} - {{ event.end_date }}</td>
      <td>{{ event.area_names|join(', ') }}</td>
      <td class="actions">

        <a href="{{ url('event_edit', slug=event.slug) }}">edit</a>
        <a href="{{ url('event_dedupe', slug=event.slug) }}">dupe</a>

        <form action="{{ url('event_delete') }}" method="post">
          {{ csrf() }}
          <input type="hidden" name="id" value="{{ event.id }}">
          <input type="submit" value="delete" class="delete-item">
        </form>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<div class="pagination">
  <span class="step-links">
    {% for i in paginator.page_range %}
      {% if i != current_page %}
        <a href="?page={{ i }}">{{ i }}</a>
      {% else %}
        {{ i }}
      {% endif %}

      {% if i != paginator.page_range[-1] %}|{% endif %}
    {% endfor %}
  </span>
</div>

{% endblock %}