{% extends 'admin.html' %}

{% block content %}
<div class="modal-container">
  <div class="modal new-event-modal">
    <h3 class="oslight">New event</h3>

    <form method="post">
      {{ csrf() }}
      {{ form.errors }}
      <div class="row">
        <label>Title</label>
        <div class="field">
          <input type="text" name="title" value="{{ event.title }}" placeholder="The name of the event">
        </div>
      </div>
      <div class="row">
        <label>{{ form.space.label }}</label>
        <div class="field">
          {{ form.space }}
        </div>
      </div>
      <div class="row dates">
        <div class="start-date">
          <label for="date_start">Start date</label>
          <div class="field">
            <input type="text" name="start_0" value="{{ form.data.start_0 }}" placeholder="yy/dd/mm">
            <div class="date-picker-icon"></div>
          </div>
        </div>
        <div class="end-date">
          <label for="time_start">End date</label>
          <div class="field">
            <input type="text" name="end_0" value="{{ form.data.end_0 }}" placeholder="yy/dd/mm">
            <div class="date-picker-icon"></div>
          </div>
        </div>
      </div>
      <div class="row times">
        <div class="start-time">
          <label for="time_start">Start time</label>
          <div class="field">
            <input type="text" name="start_1" value="{{ form.data.start_1 }}" placeholder="12:00">
          </div>
        </div>
        <div class="end-time">
          <label for="time_start">End time</label>
          <div class="field">
            <input type="text" name="end_1" value="{{ form.data.end_1 }}" placeholder="13:00">
          </div>
        </div>
      </div>
      <div class="row">
         <label>Areas</label>
         <div class="field">
          {{ form.areas }}
         </div>
      </div>
      <div class="row">
        <label>Description</label>
        <div class="field">
          <textarea name="description" placeholder="Describe what the event is about">{{ event.description }}</textarea>
        </div>
      </div>
      <div class="row">
        <label>Details</label>
        <div class="field">
          <textarea name="details" placeholder="Give more details about the venue">{{ event.details }}</textarea>
        </div>
      </div>
      <div class="row">
        <input type="submit" value="Save event" class="button pull-right">
      </div>
    </form>
  </div>
</div>
{% endblock %}