{% extends 'admin.html' %}

{% set active_tab = 'spaces' %}

{% block actions %}
  <a class="button" href="?format=csv">Export CSV</a>
  <a class="button" href="{{ url('events_new_space') }}">Add space</a>
{% endblock %}

{% block tablecontent %}
  <thead>
    <tr>
      <th>Space name</th>
      <th>Address</th>
      <th>Coordinates</th>
      <th>Photo</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    {% for space in spaces %}
    <tr>
      <td>{{ space.name }}</td>
      <td>{{ space.address }}, {{ space.city }}, {{ space.get_country_display() }}</td>
      <td>{{ space.lat }} {{ space.lon }}</td>
      <td>{{ space.photo }}</td>
      <td class="actions">
        <a href="{{ url('space_edit', slug=space.slug) }}">edit</a>

        <form action="{{ url('space_delete') }}" method="post">
          {{ csrf() }}
          <input type="hidden" name="id" value="{{ space.id }}">
          <input type="submit" value="delete" class="delete-item">
        </form>
      </td>
    </tr>
    {% endfor %}
  </tbody>
{% endblock %}