<h1>Edit {{ space.name }} ({{ space.id }})</h1>

<form method="post">
  {{ csrf() }}
  {{ form.errors }}
  <ul>
    <li>id: {{ space.id }}</li>
    <li>
      <label>Name</label>
      <input name="name" value="{{ space.name }}" size="40">
    </li>
    <li>
      <label>Address 1</label>
      <input name="address" type="text" value="{{ space.address }}">
    </li>
    <li>
      <label>Address 2</label>
      <input name="address2" type="text" value="{{ space.address2 }}">
    </li>
    <li>
      <label>City</label>
      <input name="city" type="text" value="{{ space.city }}">
    </li>
    <li>
      <label>Country</label>
      <input name="country" type="text" value="{{ space.country }}">
    </li>
    <li>
      <label>Description</label>
      <textarea name="description">{{ space.description }}</textarea>
    </li>
    <li>
      <label>Lat</label>
      <input name="lat" type="text" value="{{ space.lat }}">
    </li>
    <li>
      <label>Long</label>
      <input name="lon" type="text" value="{{ space.lon }}">
    </li>
  </ul>
  <input type="submit" value="Save space">
</form>