{% extends 'admin.html' %}

{% block content %}

<h1>Spaces</h1>

<div>
  <a href="?format=csv">Export CSV</a>
  <a href="{{ url('events_new_space') }}">Add space</a>
</div>

<table>
  <thead>
    <tr>
      <th>Space name</th>
      <th>Address</th>
      <th>Coordinates</th>
      <th>Photo</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    {% for space in spaces %}
    <tr>
      <td>{{ space.name }}</td>
      <td>{{ space.address }}, {{ space.city }}, {{ space.country }}</td>
      <td>{{ space.lat }} {{ space.lon }}</td>
      <td>{{ space.photo }}</td>
      <td>
        <a href="{{ url('space_edit', slug=space.slug) }}">e</a>

        <form action="{{ url('space_delete') }}" method="post">
          {{ csrf() }}
          <input type="hidden" name="id" value="{{ space.id }}">
          <input type="submit" value="x">
        </form>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}