@import "main";
@import "modals";

.main-actions {
  float: right;
}

.admin-table {
  margin-top: $baseLine;
  font-size: $fontSizeSmall;

  th {
    text-align: left;
  }

  tr:nth-child(even) {
    // background: rgba(#000, 0.05);
  }

  thead th {
    padding-bottom: $baseLine / 2;
  }

  tbody tr {
    border-top: 1px solid rgba(#000, 0.1);
    height: $baseLine * 2;

    &:nth-child(even) {
      background: #fafafa;
    }

    &:hover {
      background: #f2f2f2;
    }
  }

  tbody td.actions {
    white-space: nowrap;
    width: 1px; // make this cell fit content
    font-size: $fontSizeSmall;

    a:not(:first-child) {
      margin-left: 10px;
    }
  }

  tbody td.actions form {
    display: inline;
    margin-left: 10px;
  }

  .delete-item {
    background: none;
    border: none;
    padding: 0;
    display: inline;
    color: $flat-red-1;

    &:hover {
      color: $flat-red-2;
    }
  }

}