@import "main";

.main-actions {
  float: right;
}

.admin-table {
  margin-top: $baseLine;

  th {
    text-align: left;
  }

  tr:nth-child(even) {
    // background: rgba(#000, 0.05);
  }

  thead th {
    padding-bottom: $baseLine / 2;
  }

  tbody tr {
    border-top: 1px solid rgba(#000, 0.1);
    height: $baseLine * 2;

    &:nth-child(even) {
      background: #fafafa;
    }

    &:hover {
      background: #f2f2f2;
    }
  }

  tbody td.actions {
    max-width: 80px;
    font-size: $fontSizeSmall;

    a:not(:first-child) {
      margin-left: 10px;
    }
  }

  tbody td.actions form {
    display: inline;
    margin-left: 10px;
  }

  .delete-item {
    background: none;
    border: none;
    padding: 0;
    display: inline;
    color: $flat-red-1;

    &:hover {
      color: $flat-red-2;
    }
  }

}