$red-1: $flat-red-1;
$red-2: $flat-red-2;
$green-1: $flat-green-1;
$green-2: $flat-green-2;
$blue-1: $flat-blue-1;
$blue-2: $flat-blue-2;
$purple-1: $flat-purple-1;
$purple-2: $flat-purple-2;
$orange-1: $flat-orange-1;
$orange-2: $flat-orange-2;
$yellow-1: $flat-yellow-1;
$yellow-2: $flat-yellow-2;
$gray-1: $flat-gray-2;
$gray-2: $flat-gray-4;


.red-1 { background: $red-1; }
.red-2 { background: $red-2; }
.green-1 { background: $green-1; }
.green-2 { background: $green-2; }
.blue-1 { background: $blue-1; }
.blue-2 { background: $blue-2; }
.purple-1 { background: $purple-1; }
.purple-2 { background: $purple-2; }
.orange-1 { background: $orange-1; }
.orange-2 { background: $orange-2; }
.yellow-1 { background: $yellow-1; }
.yellow-2 { background: $yellow-2; }
.gray-1 { background: $gray-1; }
.gray-2 { background: $gray-2; }