*,
*:before,
*:after {
  // box-sizing on all elements
  @include prefix(box-sizing, border-box);
}

html,
body {
  height: 100%;
}

body {
  font-family: $fontFamilyDefault;
  font-size: $fontSizeDefault;
  color: $textColorPrimary;
  line-height: $baseLine;
}

#outer-wrapper {
  height: 100%;
  background: url('#{$mozCdnUrl}media/img/sandstone/bg-gradient-sand.png') repeat-x 0 0, url('#{$mozCdnUrl}media/img/sandstone/bg-sand.png') repeat 0 0;
  position: relative;
}

#inner-wrapper {
  position: relative;
  z-index: 10;
  border-top: 2px solid #fff;
}

a {
  color: $linkBlue;
  text-decoration: none;

  &:hover {
    color: $linkBlueHover;
  }
}

.width-container {
  max-width: $maxPageWidth;
  margin: 0 auto;
}

.logo-nav {
  .logo {
    color: $textColorSecondary;
    letter-spacing: -0.5px;
    font-family: 'MetaNormal';
    text-shadow: 0 1px 0 rgba(#fff, 0.75);
    font-size: 30px;
  }
}

.billboard {
  padding-top: $baseLine;
  padding-bottom: $baseLine;
  margin-bottom: $baseLine * 2;
  @include box-shadow(0 0 0 1px #fff inset);
  background: #fff;
  border-bottom: 1px solid #ddd;
  color: $textColorSecondary;
  @include clearfix;
}

.fill-width {
  width: 100%;
}

.pull-right {
  float: right;
}

.pull-left {
  float: left;
}