.event-modal {
  .start-date,
  .end-date,
  .start-time,
  .end-time {
    width: 40%;
    float: left;

    label {
      width: 37.5%;
    }

    .field {
      width: 62.5%;
    }
  }

  .end-date,
  .end-time {
    margin-left: 20%;
  }

  .start-time input,
  .end-time input {
    width: 100%;
  }

  .start-date input,
  .end-date input {
    width: 70%;
  }

  .date-picker-icon {
    float: right;
    height: 27px;
    width: 25px;
    background: url('#{$staticUrl}calendar.png');
    opacity: 0.8;
    cursor: pointer;

    &:hover {
      opacity: 1;
    }
  }

  .field.areas {
    position: relative;

    label {
      float: none;
      width: auto;
      font-weight: normal;
    }

    .areas-dropdown {
      position: absolute;
      top: -2px;
      left: -10px;
      width: 30%;
      border: 1px solid #ccc;
      padding: 5px 0;
      background: #fff;
      border-radius: $radiusDefault;
      box-shadow: 2px 2px 10px rgba(#000, .25);

      &.hidden {
        display: none;
      }
    }

    .areas-dropdown ul {
      margin: 0;
      padding: 0;
      list-style-type: none;
      font-size: $fontSizeSmaller;
    }

    input {
      width: auto;
      margin-right: 5px;
    }
  }

  .areas-dropdown {
    li {

    }

    label {
      padding: 0 10px;
      display: block;

      &:hover {
        background: $linkBlue;
        color: #fff;
      }
    }
  }

  textarea {
    height: 60px;
    @include transition(300ms height ease);

    &:focus {
      height: 120px;
    }
  }
}