.import-modal {
  @include clearfix;

  .field .button {
    margin-top: $baseLine / 2;
  }

  form {
    @include clearfix;

    input[type="url"] {
      width: 100%;
    }

    input[type="file"] {
      width: auto;
    }
  }

  form + form {
    margin-top: $baseLine;
  }

  .import-success {
    color: $buttonGreenDark;
    font-weight: bold;
  }

  .button {
    float: left;
  }

  .spinner {
    background: url('#{$staticUrl}spinner.gif') no-repeat 0 0;
    float: left;
    margin-left: 10px;
    height: 32px;
    width: 32px;
    position: relative;
    top: 7px;
  }
}