.masthead {
  @include clearfix;
  border-top: 2px solid #fff;

  #login-box {
    float: right;
    line-height: 2 * $baseLine;

    .persona-button {
      top: 8px;
    }

    @media screen and (max-width: $smallBreakPoint) {
      float: left;
    }
  }
}