.page-header {
  margin: (2 * $baseLine) 0;
  clear: left;
}

#main-footer {
  background: #fff;
  font-size: $fontSizeSmall;
  padding: ($baseLine * 2) 0 ($baseLine * 3) 0;
  position: relative;
  z-index: 10;

  .row {
    padding: 0 20px;
  }

  p {
    margin: 0;
    color: $textColorLight;
  }

  a {
    color: $linkSkyBlue;

    &:hover {
      color: $linkBlue;
    }
  }

  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }
}

.login-message {
  margin-top: 100px;
}