.main-tabs {
  @include clearfix;
  padding-left: 20px;
  overflow: hidden;
  pointer-events: none;

  ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
  }

  .tab {
    pointer-events: auto;
    display: block;
    float: left;
    min-width: 60px;
    background: #f2f2f2;
    text-align: center;
    border-radius: $radiusDefault $radiusDefault 0 0;
    z-index: 0;
    position: relative;
    font-family: 'Open Sans Semibold';
    text-transform: uppercase;
    font-size: $fontSizeSmaller;

    // &:before {
    //   content: '';
    //   width: 10px;
    //   height: 100%;
    //   position: absolute;
    //   left: -3px;
    //   top: 6px;
    //   @include transform(rotate(7deg));
    //   // z-index: 0;
    // }

    // &:after {
    //   content: '';
    //   width: 10px;
    //   height: 100%;
    //   position: absolute;
    //   right: -3px;
    //   top: 6px;
    //   @include transform(rotate(-7deg));
    //   // z-index: 0;
    // }

    // &:before,
    // &:after {
    //   background: #f2f2f2;
    //   pointer-events: none;
    // }

    & + .tab {
      margin-left: 2px;
    }

    &:not(.active):hover {
      background: #f8f8f8;

      &:before,
      &:after {
        background: #f8f8f8;
      }
    }

    a {
      display: block;
      line-height: $baseLine * 2;
      padding: 0 20px;
    }

    &.active {
      background: #fff;
      z-index: 1;
      box-shadow: 0 8px 15px rgba(#000, 0.25);
    }

    &.active:before,
    &.active:after {
      background: #fff;
    }

    // &:first-of-type {
    //   border-radius: $radiusDefault 0 0 0;
    // }

    // &:last-of-type {
    //   border-radius: 0 $radiusDefault 0 0;
    // }

    &.active a {
      color: $textColorPrimary;
    }
  }
}