//
// Variables
// --------------------------------------------------/


// Type
$font-family-default: "Open Sans", sans-serif;
$font-size-default: 14px;
$line-height-default: 20px;

// Colors
$text-color-default: #333;
$link-color: #0095DD;
$link-hover-color: #00539F;

// Dimensions
$max-page-width: 980px;