//
// Variables
// --------------------------------------------------/

// Urls
$mozCdnUrl: "http://mozorg.cdn.mozilla.net/";
$staticUrl: "/static/img/";

// Type
$fontFamilyDefault: "Open Sans", sans-serif;
$fontSizeDefault: 14px;
$baseLine: 20px;
$fontSizeSmall: 13px;
$fontSizeSmaller: 12px;
$fontSizeSmallest: 10px;
$fontSizeLarge: 16px;
$fontSizeLarger: 18px;
$fontSizeLargest: 24px;


// Dimensions
$maxPageWidth: 980px;
$mediumBreakPoint: 1010px;
$smallBreakPoint: 767px;

// Colors
$textColorPrimary:   #333;
$textColorSecondary: #484848;
$textColorTertiary:  #666;
$textColorLight:     #bbb;

$textColorSpaceYellow: #ffbb38;

$linkRed:            rgb(175,50,50);
$linkBlue:           rgb(0,150,221);
$linkBlueHover:      rgb(0,83,159);
$linkSkyBlue:        rgb(103,167,208);
$linkSpaceBlue:      rgb(47,138,202);
$linkSpacePurple:    rgb(147,111,188);

$lightBlue:          #e6f7ff;

$buttonGreen: #81bc2e;
$buttonGreenDark: darken($buttonGreen, 10%);
$buttonTextColor: #fff;
$buttonBlue: #43a6e2;
$buttonBlueDark: darken($buttonBlue, 15%);


// Button shadows

$shadowPartBottom:      0px 2px 0px 0px rgba(0, 0, 0, 0.1);
$shadowPartBottomInset: inset 0px -2px 0px 0px rgba(0, 0, 0, 0.2);
$shadowPartHover:       inset 0px 12px 24px 2px saturate($buttonBlue, 10%);
$shadowPartFocusRing:   0 0 0 2px rgba(73,173,227,0.4);

$buttonShadow:          $shadowPartBottom, $shadowPartBottomInset;
$buttonShadowHover:     $shadowPartBottom, $shadowPartBottomInset, $shadowPartHover;
$buttonShadowFocus:     $shadowPartBottom, $shadowPartBottomInset, $shadowPartHover, $shadowPartFocusRing;

$buttonShadowActive:     inset 0px 2px 0px 0px rgba(0, 0, 0, 0.2),
                         inset 0px 12px 24px 6px rgba(0,0,0,0.2),
                         inset 0px 0px 2px 2px rgba(0,0,0,0.2);


// Misc

$radiusDefault: 6px;
$textShadowDefault: 0 1px 0 rgba(#000, .25);