{% extends 'main.html' %}

{% block content %}
<div class="width-container">
  <div class="billboard filters-container">
    <form id="filters-form">
      <div class="column col-6">
        <input type="text" name="search" placeholder="Filter using any keyword" id="keyword-filter" class="js-filter">
      </div>

      <div class="column col-6 select-fields">
        <select name="space" id="space-filter" class="js-filter">
          <option value="" default>All spaces</option>
          {% for space in spaces %}
          <option value="{{ space.slug }}">{{ space.name }}</option>
          {% endfor %}
        </select>

        <select name="area" id="area-filter" class="js-filter">
          <option value="" default>All types</option>
          {% for area in areas %}
          <option value="{{ area.slug }}">{{ area.name }}</option>
          {% endfor %}
        </select>

        <input type="text" name="start-date" id="start-date-filter" class="js-filter js-datepicker" placeholder="Start date">
        <input type="text" name="end-date" id="end-date-filter" class="js-filter js-datepicker" placeholder="End date">
      </div>
    </form>
  </div>
</div>

<div class="width-container">

  <nav class="main-tabs">
    <ul>
      <li class="tab{% if active_tab == 'list' %} active{% endif %}"><a href="/">List</a></li>
      <li class="tab{% if active_tab == 'calendar' %} active{% endif %}"><a href="/calendar">Calendar</a></li>
    </ul>
  </nav>

  {% block pagecontent %}
  {% endblock %}

</div>
{% endblock %}