{% extends 'index.html' %}

{% block content %}
<div class="width-container">
  <div class="billboard filters-container">
    <form id="filters-form">
      <div class="column col-5">
        <input type="text" name="search" placeholder="Filter using any keyword" id="keyword-filter">
      </div>

      <div class="column col-5 select-fields">
        <select name="space">
          <option value="" default>All spaces</option>
          {% for space in spaces %}
          <option value="{{ space.slug }}">{{ space.name }}</option>
          {% endfor %}
        </select>

        <select name="area">
          <option value="" default>All types</option>
          {% for area in areas %}
          <option value="{{ area.slug }}">{{ area.name }}</option>
          {% endfor %}
        </select>

        <input type="text" name="start-date" placeholder="mm/dd/yy">
        <input type="text" name="end-date" placeholder="mm/dd/yy">
      </div>

      <div class="column col-2">
        <input type="submit" value="Search" class="button fill-width filter-submit-button">
      </div>
    </form>
  </div>
</div>

<div class="width-container">
  <ul class="event-list">
  {% for event in events %}
    <li class="event row">
      <div class="event-date column col-2">
        <div class="day">{{ event.start_day }}</div>
        <div class="monthyear">
          <div class="month">{{ event.start_month }}</div>
          <div class="year">{{ event.start.year }}</div>
        </div>
        {# event.start #}
      </div>
      <div class="event-info column col-8">
        <a class="event-name" href="{{ url('event_one', slug=event.slug) }}">{{ event.title }}</a>
        <div class="event-description"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur non vehicula libero, eu sodales velit.</p>{{ event.description }}</div>
      </div>
      <div class="event-meta column col-2">
        <div class="event-space">{{ event.space }}</div>
        <div class="event-areas count-{{ event.areas.all().count() }}">
          {% for area in event.areas.all() %}
          <div class="event-area {{ area.color }}">{{ area.name }}</div>
          {% endfor %}
        </div>
      </div>
    </li>
  {% endfor %}
  </ul>
</div>
{% endblock %}