<div>
  <form>
    <input type="text" name="search">

    <select name="space">
      <option value="">All</option>
      {% for space in spaces %}
      <option value="{{ space.slug }}">{{ space.name }}</option>
      {% endfor %}
    </select>

    <select name="area">
      <option value="">All</option>
      {% for area in areas %}
      <option value="{{ area.slug }}">{{ area.name }}</option>
      {% endfor %}
    </select>

    <select name="period">
      <option value="1">Upcoming</option>
      <option value="2">This month</option>
      <option value="3">This week</option>
      <option value="4">Past events</option>
    </select>

    <input type="submit" value="Filter">
  </form>
</div>


<ul>
{% for event in events %}
  <li>
    <div id="date">
      {{ event.start }}
    </div>
    <div id="info">
      <h2><a href="{{ url('event_one', slug=event.slug) }}">{{ event.title }}</a></h2>
      <div class="description">{{ event.description }}</div>
    </div>
    <div id="meta">
      <div>{{ event.space }}</div>
      <div>{{ event.area_names|join(', ') }}</div>
    </div>
  </li>
{% endfor %}
</ul>