{% from 'macros/order_by_links.html' import order_by_links %}

{% extends 'admin.html' %}

{% set active_tab = 'areas' %}

{% block actions %}
  <a class="button" href="{{ url("api_dispatch_list", resource_name="functionalarea", api_name='v1') }}?format=csv&limit=0">Export CSV</a>
  <a class="button js-new-area" href="{{ url('admin_area_new') }}">New area</a>
{% endblock %}

{% block tablecontent %}
  <thead>
    <tr>
      <th>Name <span class="sorting">{{ order_by_links('name') }}</span></th>
      <th>Slug <span class="sorting">{{ order_by_links('slug') }}</span></th>
      <th>Color</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    {% for area in areas %}
    <tr>
      <td>{{ area.name }}</td>
      <td>{{ area.slug }}</td>
      <td><div class="color-swatch {{ area.color }}"></div></td>
      <td class="actions">
        <a href="{{ url('admin_area_edit', id=area.id) }}" class="js-edit-area">edit</a>

        <form action="{{ url('admin_area_delete') }}" method="post">
          {{ csrf() }}
          <input type="hidden" name="id" value="{{ area.id }}">
          <input type="submit" value="delete" class="delete-item">
        </form>
      </td>
    </tr>
    {% endfor %}
  </tbody>
{% endblock %}