{% from 'macros/order_by_links.html' import order_by_links %}

{% extends 'admin.html' %}

{% set active_tab = 'events' %}

{% block actions %}
  <a class="button" href="{{ url('event_import_ical') }}">Import iCal</a>
  <a class="button" href="{{ url("api_dispatch_list", resource_name="event", api_name='v1') }}?format=csv">Export CSV</a>
  <a class="button js-new-event" href="{{ url('events_new_event') }}">New event</a>
{% endblock %}

{% block tablecontent %}
  <thead>
    <tr>
      <th>Event name <span class="sorting">{{ order_by_links('title') }}</span></th>
      <th>Space <span class="sorting">{{ order_by_links('space__name') }}</span></th>
      <th>Date <span class="sorting">{{ order_by_links('start') }}</span></th>
      <th>Area</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    {% for event in events %}
    <tr>
      <td><a href="#linkToEventPage?">{{ event.title }}</a></td>
      <td>{{ event.space }}</td>
      <td>{{ event.start_date }} - {{ event.end_date }}</td>
      <td>{{ event.area_names|join(', ') }}</td>
      <td class="actions">

        <a href="{{ url('event_edit', id=event.id) }}" class="js-edit-event">edit</a>
        <a href="{{ url('event_dedupe', id=event.id) }}" class="js-dedupe-event">dupe</a>

        <form action="{{ url('event_delete') }}" method="post">
          {{ csrf() }}
          <input type="hidden" name="id" value="{{ event.id }}">
          <input type="submit" value="delete" class="delete-item">
        </form>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<div class="pagination">
  <span class="step-links">
    {% for i in paginator.page_range %}
      {% if i != current_page %}
        <a href="?page={{ i }}&order_by={{ order_by }}">{{ i }}</a>
      {% else %}
        {{ i }}
      {% endif %}

      {% if i != paginator.page_range[-1] %}|{% endif %}
    {% endfor %}
  </span>
</div>

{% endblock %}