<div class="modal dedupe-event-modal js-modal">
  <h3 class="oslight">
    Deduplicate {{ event.title }}
  </h3>

  {% if events|length > 0 %}
    <p class="intro">{{ event.title }} in {{ event.space.name }} scheduled for {{ event.start.strftime('%Y-%m-%d') }} might be a duplicate of:</p>

    <div class="filter">
      <input type="text" class="js-name-filter fill-width" value="" placeholder="Filter by event name">
    </div>
  {% else %}
    <p class="intro">No possible duplicates found for this event.</p>
  {% endif %}

  {% if events|length > 0 %}
    {{ csrf() }}

    <table class="admin-table fill-width">
      <thead>
        <tr>
          <th>Event name</th>
          <th>Space</th>
          <th>Date</th>
          <th>Area</th>
          <th>Actions</th>
        </tr>
      </thead>

      <tbody>
        {% for event in events %}
        <tr data-id="{{ event.id }}">
          <td>{{ event.title }}</td>
          <td>{{ event.space }}</td>
          <td>{{ event.start.strftime('%Y-%m-%d') }}</td>
          <td>{{ event.area_names|join(', ') }}</td>
          <td>
            <a href="#" class="delete-item js-delete">delete</a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  {% endif %}
</div>