<h1>Import events in iCalendar format</h1>

<form method="POST" enctype="multipart/form-data">
  {{ csrf() }}
  <div>
    <label for="url">URL:</label>
    <input type="text" name="url" id="url" size="70" placeholder="http://">
  </div>
  <input type="submit" value="Import from URL">
</form>


<form method="POST" enctype="multipart/form-data">
  {{ csrf() }}
  <div>
    <label for="file">File:</label>
    <input type="file" name="file">
  </div>
  <input type="submit" value="Import from file">
</form>

<div>
  {% if error %}
    {{ error }}
  {% elif events|length > 0 %}
    Successfully imported {{ events|length }} event(s) from {{ source }}
  {% endif %}
</div>
