<div class="modal event-modal js-modal {% if not form.title.value() %}js-new-event{% endif %}">
  <h3 class="oslight">
    {% if form.title.value() %}
      {{ form.title.value() }}
    {% else %}
      New event
    {% endif %}
  </h3>

  <form method="post" action="{{ url('admin_event_new') }}">
    {{ csrf() }}
    <ul class="errorlist js-errors"></ul>
    <input type="hidden" name="id" value="{{ event.id }}">
    <div class="row">
      <label>Title</label>
      <div class="field">
        <input type="text" name="title" value="{{ form.title.value() }}" placeholder="The name of the event">
      </div>
    </div>
    <div class="row">
      <label>{{ form.space.label }}</label>
      <div class="field">
        {{ form.space }}
      </div>
    </div>
    <div class="row dates">
      <div class="start-date">
        <label for="date_start">Start date</label>
        <div class="field">
          <input type="text" name="start_date" value="{{ form.start_date.value() }}" placeholder="yy/dd/mm" class="js-datepicker js-start-date">
          <div class="date-picker-icon"></div>
        </div>
      </div>
      <div class="end-date">
        <label for="time_start">End date</label>
        <div class="field">
          <input type="text" name="end_date" value="{{ form.end_date.value() }}" placeholder="yy/dd/mm" class="js-datepicker js-end-date">
          <div class="date-picker-icon"></div>
        </div>
      </div>
    </div>
    <div class="row times">
      <div class="start-time">
        <label for="time_start">Start time</label>
        <div class="field">
          <input type="text" name="start_time" value="{{ form.start_time.value() }}" placeholder="12:00" class="js-start-time">
        </div>
      </div>
      <div class="end-time">
        <label for="time_start">End time</label>
        <div class="field">
          <input type="text" name="end_time" value="{{ form.end_time.value() }}" placeholder="13:00" class="js-end-time">
        </div>
      </div>
    </div>
    <div class="row">
       <label>Areas</label>
       <div class="field areas js-area-select">
        <select class="areas-select">
          <option value="" disabled selected>Select one or more</option>
        </select>
        <div class="areas-dropdown hidden">
          <ul>
            {% for i, choice in form.areas.field.choices %}
            <li>
              {% set checked = '' %}
              {% if i in form.areas.value() %}
                {% set checked = ' checked' %}
              {% endif %}
              <label for="area-{{ i }}-checkbox"><input type="checkbox" name="areas" value="{{ i }}" id="area-{{ i }}-checkbox"{{ checked }}>{{ choice }}</label>
            </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
    <div class="row">
      <label>Description</label>
      <div class="field">
        <textarea name="description" placeholder="Describe what the event is about">{{ form.description.value() }}</textarea>
      </div>
    </div>
    <div class="row">
      <label>Details (Markdown support)</label>
      <div class="field">
        <textarea name="details" placeholder="Give more details about the venue">{{ form.details.value() }}</textarea>
      </div>
    </div>
    <div class="row">
      <input type="submit" value="Save event" class="button pull-right js-button">
    </div>
  </form>
</div>