{% from 'macros/order_by_links.html' import order_by_links %}

{% extends 'admin.html' %}

{% set active_tab = 'events' %}

{% block actions %}
  <a class="button" href="{{ url('admin_event_metrics') }}">Export metrics</a>
  <a class="button js-import-button" href="{{ url('admin_event_import_ical') }}">Import iCal</a>
  <a class="button" href="{{ url("api_dispatch_list", resource_name="event", api_name='v1') }}?format=csv">Export CSV</a>
  <a class="button js-new-event" href="{{ url('admin_event_new') }}">New event</a>
{% endblock %}

{% block tablecontent %}
  <thead>
    <tr>
      <th>Event name <span class="sorting">{{ order_by_links('title') }}</span></th>
      <th>Space <span class="sorting">{{ order_by_links('space__name') }}</span></th>
      <th>Date <span class="sorting">{{ order_by_links('local_start') }}</span></th>
      <th>Area</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    {% for event in events %}
    <tr data-id="{{ event.id }}" class="js-event">
      <td><a href="{{ event.url }}" title="{{ event.title }}" target="_blank">{{ event.title }}</a></td>
      <td>{{ event.space }}</td>
      <td>{{ event.local_start_date }} - {{ event.local_end_date }}</td>
      <td>{{ event.area_names|join(', ') }}</td>
      <td class="actions">

        <a href="{{ url('admin_event_edit', id=event.id) }}" class="js-edit-event">edit</a>
        <a href="{{ url('admin_event_dedupe', id=event.id) }}" class="js-dedupe-event">dedupe</a>

        <form action="{{ url('admin_event_delete') }}?page={{ current_page }}&order_by={{ order_by }}" method="post">
          {{ csrf() }}
          <input type="hidden" name="id" value="{{ event.id }}">
          <input type="submit" value="delete" class="delete-item">
        </form>
      </td>
    </tr>
    {% endfor %}
  </tbody>
{% endblock %}

{% block pagination %}
  {{ show_paginator(adjacent_pages=2, order_by=order_by) }}
{% endblock %}