<div class="modal import-modal js-modal">
  <h3 class="oslight">
    Import events in iCalendar format
  </h3>

  <ul class="errorlist js-errors"></ul>

  <div class="js-content">

    <form method="POST" enctype="multipart/form-data" action="{{ url('admin_event_import_ical') }}">
      {{ csrf() }}
      <div class="row">
        <label>Space</label>
        <div class="field">
          {{ form.space }}
        </div>
      </div>
      <div class="row">
        <label for="url">URL</label>
        <div class="field">
          <input type="url" name="url" id="url" placeholder="http://">
        </div>
      </div>
      <div class="button-container">
        <input type="submit" value="Import from URL" class="button js-button">
      </div>
    </form>

  </div>
</div>