<div class="modal new-event-modal">
  <h3 class="oslight">
    {% if form.title.value() %}
      {{ form.title.value() }}
    {% else %}
      New event
    {% endif %}
  </h3>

  <form method="post" action="/admin/events/new">
    {{ csrf() }}
    {{ form.errors }}
    <input type="hidden" name="slug" value="{{ event.slug }}">
    <div class="row">
      <label>Title</label>
      <div class="field">
        <input type="text" name="title" value="{{ form.title.value() }}" placeholder="The name of the event">
      </div>
    </div>
    <div class="row">
      <label>{{ form.space.label }}</label>
      <div class="field">
        {{ form.space }}
      </div>
    </div>
    <div class="row dates">
      <div class="start-date">
        <label for="date_start">Start date</label>
        <div class="field">
          <input type="text" name="start_date" value="{{ form.start_date.value() }}" placeholder="yy/dd/mm" class="js-datepicker">
          <div class="date-picker-icon"></div>
        </div>
      </div>
      <div class="end-date">
        <label for="time_start">End date</label>
        <div class="field">
          <input type="text" name="end_date" value="{{ form.end_date.value() }}" placeholder="yy/dd/mm" class="js-datepicker">
          <div class="date-picker-icon"></div>
        </div>
      </div>
    </div>
    <div class="row times">
      <div class="start-time">
        <label for="time_start">Start time</label>
        <div class="field">
          <input type="text" name="start_time" value="{{ form.start_time.value() }}" placeholder="12:00">
        </div>
      </div>
      <div class="end-time">
        <label for="time_start">End time</label>
        <div class="field">
          <input type="text" name="end_time" value="{{ form.end_time.value() }}" placeholder="13:00">
        </div>
      </div>
    </div>
    <div class="row">
       <label>Areas</label>
       <div class="field areas js-area-select">
        <select class="areas-select">
          <option value="" disabled selected>Select one or more</option>
        </select>
        <div class="areas-dropdown hidden">
          <ul>
            <li>
              <label for="area-1-checkbox"><input type="checkbox" id="area-1-checkbox">Accessibility</label>
            </li>
            <li>
              <label for="area-2-checkbox"><input type="checkbox" id="area-2-checkbox">L10n</label>
            </li>
            <li>
              <label for="area-3-checkbox"><input type="checkbox" id="area-3-checkbox">Public Relations</label>
            </li>
            <li>
              <label for="area-4-checkbox"><input type="checkbox" id="area-4-checkbox">Security</label>
            </li>
            <li>
              <label for="area-5-checkbox"><input type="checkbox" id="area-5-checkbox">Community</label>
            </li>
            <li>
              <label for="area-6-checkbox"><input type="checkbox" id="area-6-checkbox">WebGL</label>
            </li>
            <li>
              <label for="area-7-checkbox"><input type="checkbox" id="area-7-checkbox">Firefox OS</label>
            </li>
            <li>
              <label for="area-8-checkbox"><input type="checkbox" id="area-8-checkbox">Mobile</label>
            </li>
            <li>
              <label for="area-9-checkbox"><input type="checkbox" id="area-9-checkbox">QA</label>
            </li>
            <li>
              <label for="area-10-checkbox"><input type="checkbox" id="area-10-checkbox">Webdev</label>
            </li>
          </ul>
        </div>
        {# form.areas #}
       </div>
    </div>
    <div class="row">
      <label>Description</label>
      <div class="field">
        <textarea name="description" placeholder="Describe what the event is about">{{ form.description.value() }}</textarea>
      </div>
    </div>
    <div class="row">
      <label>Details</label>
      <div class="field">
        <textarea name="details" placeholder="Give more details about the venue">{{ form.details.value() }}</textarea>
      </div>
    </div>
    <div class="row">
      <input type="submit" value="Save event" class="button pull-right">
    </div>
  </form>
</div>