<div class="modal space-modal js-modal">
  <h3 class="oslight">
    {% if form.name.value() %}
      {{ form.name.value() }}
    {% else %}
      New space
    {% endif %}
  </h3>

  <form method="post" action="{{ url('admin_space_new') }}" enctype="multipart/form-data">
    {{ csrf() }}
    <input type="hidden" name="id" value="{{ space.id }}">
    <ul class="errorlist js-errors"></ul>
    <div class="row">
      <label>Name</label>
      <div class="field">
        <input type="text" name="name" value="{{ form.name.value() }}" placeholder="">
      </div>
    </div>

    <div class="row">
      <label>Adress 1</label>
      <div class="field">
        <input type="text" name="address" value="{{ form.address.value() }}" placeholder="">
      </div>
    </div>

    <div class="row">
      <label>Adress 2</label>
      <div class="field">
        <input type="text" name="address2" value="{{ form.address2.value() }}" placeholder="">
      </div>
    </div>

    <div class="row">
      <label>City</label>
      <div class="field">
        <input type="text" name="city" value="{{ form.city.value() }}" placeholder="">
      </div>
    </div>

    <div class="row">
      <label>Country</label>
      <div class="field">
        {{ form.country }}
      </div>
    </div>

    <div class="row">
      <label>Postal Code</label>
      <div class="field">
        <input type="text" name="postal_code" value="{{ form.postal_code.value() }}" placeholder="">
      </div>
    </div>

    <div class="row">
      <label>Latitude</label>
      <div class="field">
        <input type="text" name="lat" value="{{ form.lat.value() }}" placeholder="">
      </div>
    </div>

    <div class="row">
      <label>Longitude</label>
      <div class="field">
        <input type="text" name="lon" value="{{ form.lon.value() }}" placeholder="">
      </div>
    </div>

    <div class="row">
      <label>Photo</label>
      <div class="field">
        <div class="photo-preview">
          {% if form.photo.value() %}
            {% set image_path=form.photo.value().name|media_path %}
          {% else %}
            {% set image_path='http://placehold.it/980x150' %}
          {% endif %}
          <img src="{{ image_path }}" class="js-photo">
        </div>
        <input type="file" name="photo" value="" class="js-file-input">
      </div>
    </div>

    <div class="row">
      <input type="submit" value="Save space" class="button pull-right js-button">
    </div>
  </form>
</div>